- name: Initialisation du control-plane
  hosts: controlplane
  become: true
  vars:
    pod_cidr: "192.168.0.0/16"
    calico_manifest: "https://raw.githubusercontent.com/projectcalico/calico/v3.27.4/manifests/calico.yaml"
  tasks:
    - name: kubeadm init
      command: kubeadm init --pod-network-cidr={{ pod_cidr }}
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Configuration pour utilisation avec ROOT
      file:
        path: /root/.kube
        state: directory
        mode: "0700"

    - name: Copie de admin.conf vers root kubeconfig
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /root/.kube/config
        remote_src: true
        mode: "0600"

    - name: Installation de Calico en tant que CNI
      command: kubectl apply -f {{ calico_manifest }}
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Generation de la commande JOIN pour le worker
      command: kubeadm token create --print-join-command
      register: join_cmd

    - name: Sauvegarde du resultat de la commande pour la reinjecter dans le worker
      delegate_to: localhost
      copy:
        dest: /tp-cloudmemo/ansible/join-command.sh
        content: |
          #!/bin/bash
          {{ join_cmd.stdout }}
        mode: "0755"

