- name: Install ingress-nginx controller
  hosts: controlplane
  become: true
  tasks:
    - name: Apply ingress-nginx manifests
      command: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.11.1/deploy/static/provider/cloud/deploy.yaml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Wait for ingress-nginx controller to be ready
      shell: |
        kubectl -n ingress-nginx rollout status deploy/ingress-nginx-controller --timeout=180s
        kubectl get pods -n ingress-nginx
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      args:
        executable: /bin/bash
      changed_when: false
